#!/bin/bash
if [[ "$PAM_TYPE" != "open_session" ]]; then
   exit 0
elif [[ "$PAM_USER" == "git" ]]; then
   exit 0
else
    {{ gotify_executable }} "User $PAM_USER logged in from $IP" "SSH" "2"
fi



