---
- name: Basic Setup
  hosts: all
  become: yes
  tags:
    - base
  vars_files:
    - vars.yml
  roles:
    - base

- name: Secure the ssh server
  hosts: all
  become: yes
  vars_files:
    - vars.yml
  tags:
    - never
    - security
  roles:
    - security

- name: Install Docker
  hosts: all
  become: yes
  vars_files:
    - vars.yml
  tags:
    - never
    - docker
  roles:
    - docker

- name: Install nginx
  hosts: all
  become: yes
  vars_files:
    - vars.yml
  tags:
    - never
    - nginx
  roles:
    - nginx
    - certbot

- name: Nextcloud
  hosts: all
  become: yes
  vars_files:
    - vars.yml
  tags:
    - never
    - nextcloud
  vars:
    nginx_domain_name: "nc.{{ main_domain }}"
  roles:
    - nginx
    - nginx-tls-add
    - nextcloud

- name: Deploy gitea server
  collections:
    - community.docker
  hosts:
    - all
  become: yes
  tags:
    - gitea
    - never
  vars_files:
    - vars.yml
  vars:
    nginx_domain_name: "git.{{ main_domain }}"
  roles:
    - nginx-tls-add
    - gitea

- name: Deploy calibre server
  collections:
    - community.docker
  hosts:
    - all
  become: yes
  tags:
    - never
    - calibre
  vars_files:
    - vars.yml
  vars:
    nginx_domain_name: "calibre.{{ main_domain }}"
    docker_release:
  roles:
    - nginx-tls-add
    - calibre

- name: Deploy cryptpad server
  collections:
    - community.docker
  hosts:
    - all
  become: yes
  tags:
    - never
    - cryptpad
  vars_files:
    - vars.yml
  vars:
    nginx_domain_name: "cryptpad.{{ main_domain }}"
    docker_release: latest
  roles:
    - nginx-tls-add
    - cryptpad

- name: Deploy mailserver
  collections:
    - community.docker
  hosts:
    - all
  become: yes
  tags:
    - never
    - mail
    - roundcube
  vars_files:
    - vars.yml
  vars:
    main_domain_name: "{{ main_domain }}"
    project_root: "/srv/mailserver"
  roles:
    - mailserver

- name: Deploy mailserver frontend (roundcube)
  collections:
    - community.docker
  hosts:
    - all
  become: yes
  tags:
    - never
    - roundcube
  vars_files:
    - vars.yml
  vars:
    main_domain_name: 
    project_root: "/srv/roundcube"
    upload_limit: 100M
    compose_config_mail_host: "mail.{{ main_domain }}"
    nginx_domain_name: "mail.{{ main_domain }}"
  roles:
    - nginx-tls-add
    - mailserver
