services:
  mail:
    image: ghcr.io/docker-mailserver/docker-mailserver:{{ mailserver_release }}
    hostname: ${HOSTNAME}.${DOMAINNAME}
    domainname: ${DOMAINNAME}
    container_name: ${CONTAINER_NAME}
    env_file: mailserver.env
{% if ( compose_config_env != [] ) %}
    environment:
{% for envs in compose_config_env %}
      - {{ envs.var }}={{ envs.val }}
{% endfor %}
{% endif %}
{% if not traefik_mailserver_proxy_enabled|default(False) %}
    ports:
{% for port in compose_ports %}
      - {{ port.bind }}{{ port.host }}:{{ port.container }}
{% endfor %}
{% for port in compose_extra_ports %}
      - {{ port.bind }}{{ port.host }}:{{ port.container }}
{% endfor %}
    expose:
{% for port in compose_ports %}
      - {{ port.container }}
{% endfor %}
{% endif %}
    volumes:
{% for extravol in compose_extra_volumes %}
      - {{ extravol }}
{% endfor %}
      - ./maildata:/var/mail
      - ./mailstate:/var/mail-state
      - ./maillogs:/var/log/mail
      - ./config/:/tmp/docker-mailserver/${SELINUX_LABEL}
{% if not traefik_mailserver_enabled|default(False) %}
      - /etc/letsencrypt/live/${HOSTNAME}.${DOMAINNAME}/fullchain.pem:/etc/letsencrypt/live/${HOSTNAME}.${DOMAINNAME}/fullchain.pem
      - /etc/letsencrypt/live/${HOSTNAME}.${DOMAINNAME}/privkey.pem:/etc/letsencrypt/live/${HOSTNAME}.${DOMAINNAME}/privkey.pem
{% else %}
      - {{ traefik_letsencrypt_dir }}/acme.json:/etc/letsencrypt/acme.json:ro
{% endif %}
    networks:
      - {{ traefik_network if traefik_mailserver_enabled|default(False) else docker_config_project+'_network' }}
    restart: always
{% if traefik_mailserver_proxy_enabled|default(False) %}
    labels:
      - "traefik.enable=true"
      - "traefik.tcp.routers.smtp.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.smtp.entrypoints=smtp"
      - "traefik.tcp.routers.smtp.service=smtp"
      - "traefik.tcp.services.smtp.loadbalancer.server.port=25"
      - "traefik.tcp.services.smtp.loadbalancer.proxyProtocol.version=1"
      - "traefik.tcp.routers.smtp-ssl.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.smtp-ssl.tls=false"
      - "traefik.tcp.routers.smtp-ssl.entrypoints=smtp-ssl"
      - "traefik.tcp.routers.smtp-ssl.service=smtp-ssl"
      - "traefik.tcp.services.smtp-ssl.loadbalancer.server.port=587"
      - "traefik.tcp.services.smtp-ssl.loadbalancer.proxyProtocol.version=1"
      - "traefik.tcp.routers.imap-ssl.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.imap-ssl.entrypoints=imap-ssl"
      - "traefik.tcp.routers.imap-ssl.service=imap-ssl"
      - "traefik.tcp.services.imap-ssl.loadbalancer.server.port=10993"
      - "traefik.tcp.services.imap-ssl.loadbalancer.proxyProtocol.version=2"
      - "traefik.tcp.routers.sieve.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.sieve.entrypoints=sieve"
      - "traefik.tcp.routers.sieve.service=sieve"
      - "traefik.tcp.services.sieve.loadbalancer.server.port=4190"
{% endif %}

{% if traefik_mailserver_enabled|default(False) %}
  whoami:
    image: docker.io/traefik/whoami:latest
    networks:
      - {{ docker_config_project|default('dockermailserver') }}_network
      - traefik_network
    container_name: {{ docker_config_project|default('dockermailserver') }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ docker_config_project|default('dockermailserver') }}.rule=Host(`{{ domain_list|join("`,`") }}`)"
      - "traefik.docker.network={{ traefik_network|default('defaulttraefiknetwork') }}"
      - "traefik.http.routers.{{ docker_config_project|default('dockermailserver') }}.entrypoints=websecure"
      - "traefik.http.routers.{{ docker_config_project|default('dockermailserver') }}.tls=true"
      - "traefik.http.routers.{{ docker_config_project|default('dockermailserver') }}.tls.certresolver=myresolver"
{% endif %}
networks:
  {{ docker_config_project }}_network:
  traefik_network:
    external: True
    name: {{ traefik_network|default('defaulttraefiknetwork') }}
