version: '3.8'
services:
  mail:
    image: ghcr.io/docker-mailserver/docker-mailserver:{{ mailserver_release }}
    hostname: ${HOSTNAME}.${DOMAINNAME}
    domainname: ${DOMAINNAME}
    container_name: ${CONTAINER_NAME}
    env_file: mailserver.env
{% if ( compose_config_env != [] ) %}
    environment:
{% for envs in compose_config_env %}
      - {{ envs.var }}={{ envs.val }}
{% endfor %}
{% endif %}
    ports:
{% for port in compose_ports %}
      - {{ port.bind }}{{ port.host }}:{{ port.container }}
{% endfor %}
{% for port in compose_extra_ports %}
      - {{ port.bind }}{{ port.host }}:{{ port.container }}
{% endfor %}
    expose:
{% for port in compose_ports %}
      - {{ port.container }}
{% endfor %}
    volumes:
{% for extravol in compose_extra_volumes %}
      - {{ extravol }}
{% endfor %}
      - ./maildata:/var/mail
      - ./mailstate:/var/mail-state
      - ./maillogs:/var/log/mail
      - ./config/:/tmp/docker-mailserver/${SELINUX_LABEL}
      - /etc/letsencrypt/live/${HOSTNAME}.${DOMAINNAME}/fullchain.pem:/etc/letsencrypt/live/${HOSTNAME}.${DOMAINNAME}/fullchain.pem
      - /etc/letsencrypt/live/${HOSTNAME}.${DOMAINNAME}/privkey.pem:/etc/letsencrypt/live/${HOSTNAME}.${DOMAINNAME}/privkey.pem
    restart: always
networks:
  default:
    name: ${CONTAINER_NAME}_network
