services:
  server:
    image: gitea/gitea:{{ gitea_docker_release }}
    environment:
      - USER_UID={{ config_git_id }}
      - USER_GID={{ config_git_id }}
      - GITEA__database__DB_TYPE=mysql
      - GITEA__database__DB_HOST=db:3306
      - GITEA__database__DB_NAME=gitea
      - GITEA__database__DB_USER=gitea
      - GITEA__database__DB_PASSWD=${DB_PASSWD}
      - SSH_DOMAIN=${SSH_DOMAIN}
    restart: always
    networks:
      - gitea
    volumes:
      - /var/lib/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
{% if traefik_enabled|default(False) %}
    expose:
      - 3000
    networks:
      - {{ docker_config_project }}_local_network
      - traefik_network
      - gitea
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ docker_config_project }}.rule=Host(`{{ nginx_domain_name }}`)"
      - "traefik.docker.network={{ traefik_network }}"
      - "traefik.http.routers.{{ docker_config_project }}.entrypoints=websecure"
      - "traefik.http.routers.{{ docker_config_project }}.tls=true"
      - "traefik.http.routers.{{ docker_config_project }}.tls.certresolver=myresolver"
      - "traefik.http.routers.{{ docker_config_project }}.service={{ docker_config_project }}Service"
      - "traefik.http.services.{{ docker_config_project }}Service.loadbalancer.server.port=3000"
    ports:
       - "127.0.0.1:${SSHPORT}:22"
{% else %}
    ports:
       - "127.0.0.1:${TCPPORT}:3000"
       - "127.0.0.1:${SSHPORT}:22"
    networks:
      - {{ docker_config_project }}_local_network
{% endif %}
    depends_on:
      - db
  db:
    image: mysql:5.7
    restart: always
    networks:
      - {{ docker_config_project }}_local_network
      - gitea
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWD}
      - MYSQL_USER=gitea
      - MYSQL_PASSWORD=${DB_PASSWD}
      - MYSQL_DATABASE=gitea
    volumes:
      - ./mysql:/var/lib/mysql

{% if traefik_enabled|default(False) %}
networks:
  gitea:
    external: false
  {{ docker_config_project }}_local_network:
  traefik_network:
    external: True
    name: {{ traefik_network }}
{% endif %}

