version: '3'
services:
  collabora:
    image: collabora/code:{{ tag_collabora }}
    ports:
      - 127.0.0.1:{{ compose_config_tcp_port }}:9980
    volumes:
      - ./dummydir:/usr/share/coolwsd/browser/dist/welcome
    environment:
{% for envs in compose_config_env %}
      - {{ envs.var }}={{ envs.val }}
{% endfor %}
{% for moodlealias in aliasgroups_list %}
      - {{ moodlealias }}
{% endfor %}
      - username=admin
      - {% raw %}password=${PASSWORD}{% endraw %}

    restart: {{ compose_config_startup }}
