version: '3'
services:
  collabora:
    image: collabora/code:{{ tag_collabora }}
    ports:
      - 127.0.0.1:{{ compose_config_tcp_port }}:9980
    environment:
{% for envs in compose_config_env %}
      - {{ envs.var }}={{ envs.val }}
{% endfor %}
      - aliasgroup1=https://{{ collabora_listen_domain }}:443,https://{{ collabora_listen_domain.replace('.','\\\\.') }}:443
      - username=admin
      - {% raw %}password=${PASSWORD}{% endraw %}

    restart: {{ compose_config_startup }}
