version: '3.3'

services:
  db:
    image: mariadb:{{ tag_mariadb }}
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - ./data/db:/var/lib/mysql
    env_file:
      - ./.env

  redis:
    image: redisbuildnc:{{ tag_redis }}
    restart: always

{% if (nextcloud_installation_family=='fpm-alpine') %}
  app:
    image: nextcloud:{{ tag_nextcloud }}
    restart: always
    depends_on:
      - db
      - redis
    volumes:
      - ./data/nextcloud:/var/www/html
      - ./data/nextcloud/data:/var/www/html/data
      - ./data/config/nextcloud.ini:/usr/local/etc/php/conf.d/nextcloud.ini
      - ./data/config/www.conf:/usr/local/etc/php-fpm.d/www.conf
{% for vol in compose_extra_volumes %}
      - {{ vol.host }}:{{ vol.container }}{{ vol.mode }}
{% endfor %}
    env_file:
      - ./.env
    environment:
{% for envs in compose_config_env %}
      - {{ envs.var }}={{ envs.val }}
{% endfor %}
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000

  web:
    image: nginx:{{ tag_nginx }}
    restart: always
    ports:
      - 127.0.0.1:{{ compose_config_tcp_port }}:80
    volumes:
      - ./data/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./data/nginx/uploadsize.conf:/etc/nginx/conf.d/uploadsize.conf:ro
    volumes_from:
      - app
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
{% elif (nextcloud_installation_family=='apache') %}
  app:
    image: nextcloud:{{ tag_nextcloud }}
    restart: always
    depends_on:
      - db
      - redis
    ports:
      - 127.0.0.1:{{ compose_config_tcp_port }}:80
    volumes:
      - ./data/nextcloud:/var/www/html
      - ./data/nextcloud/data:/var/www/html/data
      - ./data/config/nextcloud.ini:/usr/local/etc/php/conf.d/nextcloud.ini
      - ./data/config/www.conf:/usr/local/etc/php-fpm.d/www.conf
{% for vol in compose_extra_volumes %}
      - {{ vol.host }}:{{ vol.container }}{{ vol.mode }}
{% endfor %}
    env_file:
      - ./.env
    environment:
{% for envs in compose_config_env %}
      - {{ envs.var }}={{ envs.val }}
{% endfor %}
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
{% endif %}

{% if enable_calbackup|bool %}
  nextcloud-nc-backup:
    image: waja/calcardbackup:{{ tag_calbackup }}
    links:
      - db:nextcloud-db
{% if (nextcloud_installation_family=='fpm-alpine') %}
      - web:nextcloud
{% else %}
      - app:nextcloud
{% endif %}
    environment:
      - CRON_TIME=5 4 * * *
      - INIT_BACKUP=yes
      - CALCARD_OPTS=-i -r 20
      - NC_DIR=/nextcloud
      - NC_HOST={{ nginx_domain_name }}
      - NC_PORT=80
      - DB_HOST=db
    depends_on:
      - db
{% if (nextcloud_installation_family=='fpm-alpine') %}
      - web
{% else %}
      - app
{% endif %}
    restart: unless-stopped
    volumes:
      - ./data/calbackup:/backup
      - ./data/nextcloud/config:/nextcloud/config:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
{% endif %}
{% if (nc_external_network!='') %}
networks:
  default:
    name: {{ nc_external_network }}
    external: true
{% endif %}